<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enigbe Ochekliye</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="main-content">
        <section class="left-section">
            <div class="left-content">
                <div class="profile">
                    <div class="image">
                        <img src="avatar.jpg" alt="">
                    </div>
                    <h2 class="name">Enigbe Ochekliye</h2>
                    <p class="career">Software Developer</p>
                </div>
    
                <div class="contact-info">
                    <h3 class="main-title">Contact Information</h3>
                    <ul>
                        <li><i class="fa fa-google"></i>enigbeos@gmail.com</li>
                        <li><i class="fa fa-phone"></i>08036798820</li>
                        <li><i class="fa fa-twitter"></i>engb_os</li>
                        <li><i class="fa fa-linkedin"></i>enigbe</li>
                        <li><i class="fa fa-github"></i>enigbe</li>
                        <li><i class="fa fa-map-marker"></i>Kaduna, Nigeria</li>
                    </ul>
                </div>

                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">Python</p>
                            <div class="progress-bar">
                                <div class="progress py-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Javascript</p>
                            <div class="progress-bar">
                                <div class="progress js-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Flask</p>
                            <div class="progress-bar">
                                <div class="progress fl-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">NodeJS</p>
                            <div class="progress-bar">
                                <div class="progress nd-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Testing</p>
                            <div class="progress-bar">
                                <div class="progress ts-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Docker</p>
                            <div class="progress-bar">
                                <div class="progress dk-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">MATLAB</p>
                            <div class="progress-bar">
                                <div class="progress mt-progress"></div>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="references-section">
                    <h3 class="main-title">References</h3>
                    <div class="referee">
                        <h6 class="sub-title">Abraham Amali</h6>
                        <p class="sub-para">Researcher</p>
                        <ul>
                            <li><i class="fa fa-google"></i>amali4dtop@email.com</li>
                            <li><i class="fa fa-phone"></i>0123456789</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="right-section">
            <div class="right-main-content">
                <section class="about sect">
                    <h2 class="right-title">About Me</h2>
                    <p class="para">
                        Former Mechanical Engineer and CAD Designer. Transitioning into Backend Software Development
                    </p>
                </section>

                <section class="experience sect">
                    <h2 class="right-title">Work Experience</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Flour Mills of Nigeria</h5>
                            <p class="para">2017 - 2019</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Maintenance Engineer</h5>
                                <p class="para">Planned maintenance management for industrial equipment handling fluidized materials</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">CoLab</h5>
                            <p class="para">2016 - 2017</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Independent Researcher</h5>
                                <p class="para">Conducted independent research. Introduced to software development.</p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Dangote Cement Plant</h5>
                            <p class="para">2015 - 2016</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Graduate Engineering Trainee</h5>
                                <p class="para">
                                    Studied the planning and scheduling of maintenance for vibrating and rotating
                                    industrial equipment handling fluidized materials. Participated in the execution of 
                                    maintenance plans/schedules
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="education sect">
                    <h2 class="right-title">Education</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">University of Auckland</h5>
                            <p class="para">2019 - 2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Master of Energy</h5>
                                <p class="para">
                                    Wind energy and engineering systems, multi-variate control systems, and mechatronics.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Air Force Institute of Technology</h5>
                            <p class="para">2019 - 2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">PGD Aerospace Engineering</h5>
                                <p class="para">
                                    Aero-mechanical systems
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Ahmadu Bello University</h5>
                            <p class="para">2019 - 2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">BEng Mechanical Engineering</h5>
                                <p class="para">
                                    Core mechanical engineering
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="awards sect">
                    <h2 class="right-title">Awards</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Graduate Full-ride Scholarship</h5>
                            <p class="para">2019 - 2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">New Zealand Development Scholarship</h5>
                                <p class="para">
                                    Tuition and living costs for the duration of MSc
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Best Graduating Student</h5>
                            <p class="para">2014 - 2015</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Air Force Institute of Technology</h5>
                                <p class="para">
                                    Completion of postgraduate diploma
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Undergraduate Scholarship</h5>
                            <p class="para">2008 - 2012</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Esso/Exxon Mobil</h5>
                                <p class="para">
                                    Annual award offered to cover tuition  
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="contact-form sect">
                    <h2 class="right-title">Contact Form</h2>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <form action="/email" id="contact-form" method="POST">
                                <input type="text" required placeholder="Enter your email address" name="sender_email" class="field">
                                <input type="text" required placeholder="Enter email subject" name="email_subject" class="field">
                                <textarea name="email_content" required id="email-content" placeholder="Write email content..." class="field"></textarea>
                                <button type="submit" value="submit" class="btn">Submit</button>
                            </form>
                        </div>

                    </div>

                </section>
            </div>
        </section>

    </main>
    <script>
        const form = document.getElementById('contact-form');
    </script>
</body>
</html>